<div class="login_box">
  <div class="container">
    <div class="login">
        <h2>用户登录</h2>
        <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
          <div>
          </div>
          <dl class="clearfloat">
            <dt><span class="tips" id="uname_prompt_text"></span>用户名：
            </dt>
            <dd>
              <input 
                type="text" 
                id="uname"
                name="uname"
                (focus)="onFocus()"
                required #uname="ngModel"
                [(ngModel)]="userLogin.uname" 
                placeholder="邮箱/手机号">
              <em class="icon_user"></em>
              <i class="icon_error" id="uname_prompt_icon"></i>
            </dd>
          </dl>
          <dl>
            <dt><span class="tips" id="pwd_prompt_text">请输入密码</span>密码：</dt>
            <dd>
              <input 
                  type="password" 
                  id="pwd"
                  name="pwd" 
                  [(ngModel)]="userLogin.pwd"
                  placeholder="密码">
              <em class="icon_pwd"></em>
              <i class="icon_error" id="pwd_prompt_icon"></i>
            </dd>
          </dl>
          <p>
            <input type="checkbox">
            <span>自动登录</span>
            <span style="color:red;float:right" *ngIf="message" class="alert alert-danger">
                {{message}}
            </span>
          </p>
          <button [disabled]="!heroForm.form.valid" type="submit" id="login">立 即 登 录</button>
        </form>
    </div>
  </div>
</div>