<div>
  <div class="breadcrumb">
    <div class="container">
      <h2>
        <a href="">首页</a>&gt;<a href="">公司动态</a>
      </h2>
    </div>
  </div>
  <div class="main container">
    <div class="news">
      <ul>
        <li *ngFor="let item of newList">
          <span>{{item.pubTime | date:'yyyy-MM-dd'}}</span>
          <a [routerLink]="[ '/index/news_details', item.nid ]">{{item.title}}</a>
        </li>
      </ul>
    </div>
    <!-- 分页导航-->
    <div class="pages">
      <a (click)="handleClick(false,$event)" href="prev"
      [ngClass]="{'default': pageNum==1}">上一页</a>
      <a (click)="setPage(item,$event)"
          *ngFor="let item of pageSize"
          [ngClass]="{'cur': item==pageNum}"
          >{{item}}</a>
      <a (click)="handleClick(true,$event)" href="next"
      [ngClass]="{'default': pageNum==5}">下一页</a>
    </div>
  </div>
</div>